.leia-mais {
    padding: .6rem;
    margin: 1.2rem;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 2rem;
    border-bottom: .1rem solid #ccc;
    margin-bottom: 1rem;
}
